*{
    margin:0;
    padding:0;
}
html {
    scroll-behavior: smooth;
  }
body{
    width: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
   
}
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
  }
  
main{
    min-height: 100vh;
}
h1,h2,h3,h4,h5,p,a,li,th,tr,label{
    text-align: center;
    font-family:Menlo, monospace;
    color: #373737;
}

h1 {
    font-size: 32px;
}


#home{
    position: relative;
}

#home-banner div{
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
}
#img-container{
    overflow-x: hidden;
    position: relative;
}
#img-container img{
    transform: translateX(-30%);
    height: 80vh;
}
.img-layer{
    background-color: rgb(0 0 0 / 80%);
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 1;
}


#home-banner {
    z-index: 2;
    position: absolute;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100vw;


}

#home-button{
    z-index: 2;
    position: absolute;
    transform: translateY(-50%);
    top: 75%;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#home-button a{
    color: black;
    background-color: white;
    padding: 14px;
    border-radius: 24px;
    text-decoration: none;
}

#home-button a:hover{
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 1rem;
    border-radius: 24px;
}
#home-banner p{
    padding: 3rem 2rem;
    font-size: 16px;
    line-height: 2.5rem;
    font-weight: bold;
    
}

body{
    min-height: 100vh;
}




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #img-container img{
        transform: translateX(-25%);
    }
  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #home-banner p{
        padding: 3rem 2rem;
        font-size: 18px;
        line-height: 3rem;
        font-weight: bold;
        
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #home-banner p{
        padding: 3rem 2rem;
        font-size: 22px;
        line-height: 4rem;
        font-weight: bold;
        
    }
    #nav-links{
        display: block;
    }
    #img-container img{
        transform: translateX(-15%);
    }

  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #home-banner p{
        padding: 3rem 2rem;
        
    }
    #img-container img{
        transform: translateX(-0%);
        height: auto;
        width: 100vw;
    }

    header {
    
        display: flex;
        justify-content: space-between;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    #home-banner p{
      
        font-size: 28px;
        line-height: 4rem;
      
        
    }
}


