<div class="" id="social">
    <a href="#@JuventusEthShop" ><i class="fa fa-instagram" style="color: white;font-size:2rem"></i></a>
    <a href="#@JuventusEthShop" ><i class="fa fa-facebook" style="color: white;font-size:2rem"></i></a>
    <a href="#@JuventusEthShop" ><i class="fa fa-twitter" style="color: white;font-size:2rem"></i></a>
    <a href="#@JuventusEthShop" ><i class="fa fa-envelope" style="color: white;font-size:2rem"></i></a>
    <a href="#@JuventusEthShop" ><i class="fa fa-phone" style="color: white;font-size:2rem"></i></a>
 </div>
 <h5>Developed by @Alessio Giovannini</h5>
 <h5>Via S. Agostino 42, 01100, Viterbo (VT)</h5>

