<div id="registration-form">
 
        <form action="" enctype="application/json" method="POST">
            <h1>Sign up</h1>

            <div class="double-input">
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="surname" placeholder="Surname">
            </div>
            
            <div class="single-input">
                <input type="email" name="email" placeholder="Email">
            </div>
            <div class="double-input">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="repeatpassword" placeholder="Repeat Password">
            </div>
            <div class="single-input">
                <button type="submit">Sign up</button>
            </div>
        </form>
   
   
</div>
