<div id="nav-container">
    <nav>
       <div id="logo">
          <div >
             <img src="images/ether_logo.png" alt="">
          </div>
          <label >Juventus Shop</label>
       </div>
       <div class="toggle-nav untoggled">
          <span></span>
          <span></span>
          <span></span>
       </div>
       <ul id="nav-links" class="nav-hidden">
          <li>
             <a href="#home">Home</a>
          </li>
          <li>
             <a href="#about">About</a>
          </li>
          <li>
             <a href="#shop">Products</a>
          </li>
          <li>
             <a href="#">Account</a>
          </li>
       </ul>
    </nav>
 </div>